[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
thoth-storages = "*"
thoth-common = "*"

[dev-packages]
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"

[pipenv]
keep_outdated = true
