[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
thoth-storages = "*"
thoth-common = "*"
prometheus-client = "*"

[dev-packages]
coala-bears = "*"
"autopep8" = "*"

[pipenv]
keep_outdated = true

[requires]
python_version = "3.6"