[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
thoth-storages = "*"
thoth-common = "*"
prometheus-client = "*"

[dev-packages]
"autopep8" = "*"
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.8"
